body, html {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 480px;
}
figure {
    margin: 0;
    padding: 0;
}
.video, .canvas {
    position: absolute;
    width: 163px;
    height: 290px;
}
.video {
    left: 79px;
    top: 100px;
    z-index: 1;
}
.canvas {
    border: 1px solid green;
}
.wrapper {
    width: 320px;
    height: 480px;
    background: url('../img/bg.png');
}
.container {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
}
.not-image {
    position: relative;
    top: 100px;
}
.video-options {
    position: relative;
    top: 120px;
}
.video-options select {
    width: 230px;
    padding: 5px;
    border-radius: 5px;
    background: #333;
    color: #fff;
}
.video-controlls {
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.video-controlls button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
.video-controlls button img {
    width: 80%;
}
.remove {
    display: none;
}
