body, html {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 480px;
}
figure {
    margin: 0;
    padding: 0;
}
.video, .canvas {
    position: absolute;
    width: 145px;
    height: 258px;
}
.video {
    left: 86px;
    top: 126px;
    z-index: 1;
}
.wrapper {
    width: 320px;
    height: 480px;
    background: url('../img/bg.png');
}
.container {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
}
.screenshot-image {
    position: relative;    
    background: url('../img/moldura.png');
    background-repeat: no-repeat;
    width: 179px;
    height: 330px;
    left: 50px;
    top: 75px;
}
.screenshot-image img {
    width: 145px;
    height: 258px;
    position: relative;
    top: 59px;
}
.video-options {
    position: relative;
    top: 120px;
}
.video-options select {
    width: 230px;
    padding: 5px;
    border-radius: 5px;
    background: #333;
    color: #fff;
}
.video-controlls {
    position: relative;
    top: 85px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.video-controlls button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
.video-controlls button img {
    width: 80%;
}
.remove {
    display: none;
}
