  body, html{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  .wrapper{
    width: 320px;
    height: 480px;
  }
 .bannerButton, .ctaButton {
  border: 0;
  cursor: pointer;
  padding: 0;
 }
 .ctaButton {
    position: absolute;
 }
 .remove {
  display: none;
 }
 .visible {
    display: block;
  }
  .map, .iframeMap {
    width: 320px;
    height: 402px;
  }
  .map{
    margin: 0;    
  }
  .iframeMap{
    border-width: 0px !important;
  } 
  