html,
body {
    margin: 0px;
    padding: 0px;
    height: 480px;
    width: 320px;
}

.main {
    position: absolute;
    height: 480px;
    width: 320px;
    background-image: url(../img/bg.png);
}

.title {   
    background-size: contain;
    background-repeat: no-repeat;
    margin: 14px;
    height: 86px;
    width: 291px;
    background-image: url(../img/title.png);
}

.toy {
    height: 165px;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    width: 210px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../img/toy.png);
}

.level-1 {
    height: 207px;
}

.level-2 {
    height: 249px;
}

.level-3 {
    height: 291px;
}

.level-4 {
    height: 333px;
}

.level-5 {
    height: 375px;
}

.fixed {
    display: inline-block;
    height: 0px;
    width: 60px;
}

.one {
    margin-left: 4px;
    position: relative;
    top: -40px;
    background-image: url(../img/1.png);
}

.two {
    position: relative;
    top: -20px;
    background-image: url(../img/2.png);
}

.three {
    position: relative;
    top: -0px;
    background-image: url(../img/3.png);
}

.four {
    position: relative;
    top: -20px;
    background-image: url(../img/4.png);
}

.five {
    position: relative;
    top: -40px;
    background-image: url(../img/5.png);
}

.object {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: move;
    height: 60px;
    width: 60px;
    font-size: 0px;
}

#drop_zone {
    margin-left: 55px;
    width: 210px;
    height: 280px;
}

#wrapper {
    display: none;
    position: absolute;
    height: 480px;
    width: 320px;
    background-image: url(../img/bg.png);
    -webkit-animation-name: fadeInDown;
    animation: fadeIn .6s ease-in both;
}

#wp2 {
    height: 480px;
    width: 320px;
}

.toy-e {
    height: 380px;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    width: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../img/toy-e.png);
}

.msg {
    height: 300px;
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    margin-left: 35px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../img/msg.png);
}

.cta {
    height: 83px;
    position: absolute;
    bottom: 0;
    margin-left: 2px;
    width: 128px;
    margin-bottom: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../img/cta.png);
}

.logo {
    height: 83px;
    position: absolute;
    bottom: 0;
    margin-left: 133px;
    width: 185px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../img/logo.png);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .9;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .9;
    }
}