body, html, * {
	margin: 0;
	padding: 0;
}
body {
	width: 320px;
	height: 480px;
}
.wrapper {
	background: url('../img/banner.png');
	background-repeat: no-repeat;
	width: 320px;
	height: 480px;
	border: none;
	cursor: pointer;
}
.container {
	height: 480px;
}
#countdownLabel {
	margin-top: 20px;
	font-size: 50px;
}
#daysGroup {
	font-size: 70px;
	margin-top: 50px;
	color: #fff;
	font-weight: 600;
}
#daysLabel {
	font-size: 25px;
	margin-top: 10px;
	color: #333;
}
.countdown {
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 20px;
	margin-top: 15px;
}
#hoursLabel, #minutesLabel, #secondsLabel {
	font-size: 14px;
	margin-top: 8px;
}